<h2> Welcome Merchant Admin to the New Item Form</h2>
<h3> Fill out the form below to create a new item</h3>
<hr>

<%= render partial: 'form', locals: { path: merchant_admins_items_path, method: :post, button_text: 'Create Item' } %>
