

<h3>Pending Orders</h3>
<% @pending_orders.each  do |order| %>
<div class="table-responsive">
  <table class="table table-striped">
              <thead class="thead-dark">
           <tr>
               <th> Order Id</th>
               <th> Order Date</th>
               <th> Quantity of my items</th>
               <th> Value of My items </th>
           </tr>
         </thead>
           <tr>
             <tr>
               <td> <%= link_to "#{order.order_id}", merchant_admins_order_path(order.order_id)%></td>
               <td><%="#{order.created_at.to_formatted_s(:short)}"%></td>
               <td><%="#{order.quantity}"%></td>
               <td><%="#{order.subtotal}"%></td>
             </tr>
       </table>
       </div
       <% end %>
